<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "~{fragment/head :: head}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <th:block th:replace = "~{fragment/nav :: nav-bar}"></th:block>

  <div class = "container mt-3 mb-3">
    <form >
      <input type="hidden" id = "boardId" th:value = "${board.id}"/>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" th:value = "${board.title}"class="form-control" placeholder="Enter title" id="title">
      </div>

      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control summernote" th:utext = "${board.content}"rows="5" id="content"></textarea>
      </div>
    </form>

    <button type="button" class="btn btn-primary" id = "btn-update">수정하기</button>
  </div>

  <th:block th:replace = "~{fragment/footer :: footer}"></th:block>
  <th:block th:replace = "~{fragment/footer :: scripts}"></th:block>
  <script>
      $('.summernote').summernote({
        placeholder: 'Write Content',
        tabsize: 2,
        height: 300
      });
    </script>
    <script src = "/js/board.js"></script>
</body>
</html>


